@media screen and (max-width: 480px){

}
@media screen and (min-width: 481px){

}
@media screen and (min-width: 769px){
    .main{
        background-image: radial-gradient(rgba(15, 7, 7, 0.53), rgba(17, 6, 6, 0.576)), url(/back.webp);
        background-size: cover;
        height: 90vh;
    }
    .header{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
